@model PagedList.IPagedList<ShopOnline.Models.SanPhamKH>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div id="dssanpham">
    <div class="container-fluid" id="path">
        <div class="container">
            <ul>
                <li>@Html.ActionLink("Home", "HomePage", "HomePage", null) <i class="fas fa-angle-right"></i></></li>
                <li>@Html.ActionLink("Sản phẩm", "Index", "SanPhamKH", null)
            </ul>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="col-md-3">
                <div id="search-area">
                    @using (Html.BeginForm("Search", "SanPhamKH", null, FormMethod.Post))
                    {
                        <input type="text" placeholder="Search..." name="tensp">
                        <button type="submit" id="btn-search">
                            <i class="fas fa-search"></i>
                        </button>
                    }

                </div>

                <div id="categories">
                    <ul class="item-holder categories-menu">
                        <li>
                            <a class="nav-link" href=".collapse-item1" data-toggle="collapse" aria-expanded="false">Điện thoại &nbsp;<i class="fas fa-mobile-alt"> </i>&nbsp;<i class="fas fa-caret-down"></i></a>
                        </li>

                        <li class="collapse-item1 collapse"><a class="nav-link" href="#">Samsung </a></li>
                        <li class="collapse-item1 collapse"><a class="nav-link" href="#">Apple </a></li>
                        <li class="collapse-item1 collapse"><a class="nav-link" href="#">Oppo </a></li>


                        <li>
                            <a class="nav-link" href=".collapse-item2" data-toggle="collapse" aria-expanded="false">Tablet &nbsp;<i class="fas fa-tablet-alt"> </i>&nbsp;<i class="fas fa-caret-down"></i></a>
                        </li>

                        <li class="collapse-item2 collapse"><a class="nav-link" href="#">Samsung </a></li>
                        <li class="collapse-item2 collapse"><a class="nav-link" href="#">Apple </a></li>
                        <li class="collapse-item2 collapse"><a class="nav-link" href="#">Oppo </a></li>
                        <li>
                            <a class="nav-link" href=".collapse-item3" data-toggle="collapse" aria-expanded="false">Laptop &nbsp;<i class="fas fa-laptop"> </i>&nbsp;<i class="fas fa-caret-down"></i></a>
                        </li>

                        <li class="collapse-item3 collapse"><a class="nav-link" href="#">Samsung </a></li>
                        <li class="collapse-item3 collapse"><a class="nav-link" href="#">Apple </a></li>
                        <li class="collapse-item3 collapse"><a class="nav-link" href="#">Oppo </a></li>
                    </ul>
                </div>
                <div id="timkiemnc">
                    @using (Html.BeginForm("TimKiemNC", "SanPhamKH", FormMethod.Post))
                    {
                        <h4>Giá</h4>
                        <p>Chọn khoảng giá</p>
                        <div class="row" style="margin:15px 15px">
                            <input type="text" name="giamin" class="col-md-5" /><span>&nbsp; - &nbsp; </span> <input type="text" name="giamax" class="col-md-offset-2 col-md-5" />
                        </div>
                        <p>Chọn hệ điều hành</p>
                        <ul>
                            <li>
                                <input type="radio" name="HDH" value="Android" />
                                <text>Android</text>
                            </li>
                            <li>
                                <input type="radio" name="HDH" value="iOS" />
                                <text>iOS</text>
                            </li>
                        </ul>

                    }
                </div>
            </section>
            <section class="col-md-9">
                <div id="list-phone-area" class="text-center">
                    @{Html.RenderAction("DanhSach_DT", "SanPhamKHs", new { page = 1 });}
                </div>
            </section>
        </div>
    </div>

</div>


