@model List<ShopOnline.Models.CartItem>
<div class="item col-md-3 row  col-sm-12">
    <div class="col-md-2 col-sm-3 text-center">
        <i class="fas fa-shopping-cart fa-2x"></i>
    </div>
    <div class="col-md-10 col-sm-9">
        <h6>Bạn đang có <span>@Model.Count</span> sản phẩm</h6>

    </div>
</div>
