
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"> <img src="~/images/main_slider/1.jpg" class="d-block w-100" alt="second-slide"></a>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Welcome to 58CNTT Shop</h3>

                        <p>WE PROVIDE TO YOU BEST PRODUCT</p>
                        <p><a href="#" class="btn btn-primary" role="button">View more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"> <img src="~/images/main_slider/2.jpg" class="d-block w-100" alt="second-slide"></a>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>CHẾ ĐỘ BẢO HÀNH TỐT NHẤT</h3>

                        <p><a href="#" class="btn btn-primary" role="button">View more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"> <img src="~/images/main_slider/3.jpg" class="d-block w-100" alt="third-slide"></a>
                <div class="container">
                    <div class="carousel-caption">

                        <p><a href="#" class="btn text-white" role="button">View more</a></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">

                </span><span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">

                </span><span class="sr-only">Next</span>
            </a>

        </div>
        </div>
</section>
<div class="container-fluid" id="path">
    <div class="container">
        <a href="#" class="font-weight-bold" style="text-decoration: none;">Home</a>
    </div>
</div>
<section class="wellcome-section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Welcome to <span>58CNTT Shop</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore <br> magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item-holder text-center">
                    <a href="#"><i class="fas fa-mobile-alt fa-7x"></i></a>
                    <a href="#"><h6>Mobile</h6></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor</p>
                    <div class="link-btn">
                        <a href="http://nasim.hostlin.com/Fixera/index.html#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-holder text-center">
                    <a href=""><i class="fas fa-tablet-alt fa-7x"></i></a>
                    <a href="#"><h6>Tablet</h6></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor</p>
                    <div class="link-btn">
                        <a href="http://nasim.hostlin.com/Fixera/index.html#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-holder text-center">
                    <a href=""><i class="fas fa-laptop fa-7x"></i></a>
                    <a href="#"><h6>Laptop</h6></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor</p>
                    <div class="link-btn">
                        <a href="http://nasim.hostlin.com/Fixera/index.html#">Read More</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 about">
                <figure>
                    <img src="~/images/resource/1.jpg" alt="">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 about">
                <div class="content-text">
                    <div class="section-title">
                        <h3 class="font-weight-bold text-uppercase ">Why Choose US?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud </p>
                    </div>
                    <ul class="item-list">
                        <li class="item">
                            <i class="far fa-money-bill-alt" aria-hidden="true"></i>
                            <h6>Low Cost</h6>
                            <p>There are many variations of passa Lorem Ipsum availa ble but the maority have suffered alteration in some </p>
                        </li>
                        <li class="item">
                            <i class="fas fa-users" aria-hidden="true"></i>
                            <h6>Best Profetionals</h6>
                            <p>There are many variations of passa Lorem Ipsum availa ble but the maority have suffered alteration in some </p>
                        </li>
                        <li class="item">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <h6>Online support</h6>
                            <p>There are many variations of passa Lorem Ipsum availa ble but the maority have suffered alteration in some </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <figure style="height: 100%">
                    <img src="~/images/resource/3.jpg" alt="">
                </figure>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="content-text">
                    <div class="section-title">
                        <h3><span>Khuyến mãi hot</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</p>
                    </div>
                    <div class="btn">
                        <a href="" class="btn-style-one text-white">Tìm hiểu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-section" style="background-image:url(../../images/background/5.jpg)">
    <div class="section-title text-center text-white">
        <h3 class="text-white">Our Client <span>Opinion</span></h3>

        <div class="icon-box">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim ad minim <br> veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat cuidatat non proident sunt in <br> culpa qui officia.</p>
        </div>
    </div>
</section>

