body{
        background: -moz-radial-gradient(top center, circle farthest-corner, #ffffff 0%, #808080 100%);
        background: -o-radial-gradient(top center, circle farthest-corner, #ffffff 0%, #808080 100%);
        background: -ms-radial-gradient(top center, circle farthest-corner, #ffffff 0%, #808080 100%);
        background: -webkit-radial-gradient(top center, circle farthest-corner, #ffffff 0%, #808080 100%);
        font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}
nav{
    box-shadow: 5px 10px 15px #868282;
}
.body-container{
    margin-top:15px;
}
.grid-container{
    width:95%;
    box-shadow: 5px 10px 15px #868282;
    background:#00ff90;
    
}
.grid-container table{
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}
.grid-container table th{
    text-align:center;
}
.grid-container a{
    text-decoration:none;
}
.grid-container a:hover{
    color:red;
}
.grid-container table td{
    color:#ff006e;
}
.grid-container table td{
    text-align:center;
}